<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>

        

        <form action="/profile/" method="post">
            <label for="your_name">Your name: </label>
            <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
            <input type="submit" value="OK">
        </form>

    </body>

    <footer>
        <p>Footer</p>
            <a href="/">home</a>
            <a href="/login/">login</a>
            <a href="/signup/">signup</a>
            <a href="/profile/">profile</a>
    </footer>
    
</html>